<html th:replace="~{/layout/base::layout(~{::title}, ~{::section})}">
<head>
    <title>Lab 5 - Menu</title>
</head>
<body>
<section>
    <div class="card shadow p-4">
        <h4 class="mb-4 text-center text-primary">🌟 Lab 5 - Spring Beans & DI 🌟</h4>
        <div class="list-group">
            <a href="/lab5/bai1" class="list-group-item list-group-item-action">Bài 1 – ParamService, CookieService, SessionService</a>
            <a href="/account/login" class="list-group-item list-group-item-action">Bài 2 – Đăng nhập</a>
            <a href="/account/register" class="list-group-item list-group-item-action">Bài 3 – Đăng ký (Upload hình)</a>
            <a href="/cart/view" class="list-group-item list-group-item-action">Bài 4 – ShoppingCartService</a>
            <a href="/item/index" class="list-group-item list-group-item-action">Bài 5 – Giao diện Giỏ hàng</a>
        </div>
    </div>
</section>
</body>
</html>
